.vfy-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.vfy-wrapper:hover {
  cursor: pointer;
}

.vfy-close {
  position: absolute;
  top: 0;
  right: 0;
}

.vfy-close:hover {
  opacity: 0.5;
}

/* Board */
#vfy-board {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.vfy-tile {
  height: 48px;
  width: 48px;
}

#vfy-container {
  position: relative;
  border-radius: 10px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  width: 405px;
  height: 192px;
  background: linear-gradient(90deg, #c2c2c2 28%, #78a0aa 0%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}

#vfy-container:hover {
  cursor: default;
}

/* Controls */
.vfy-controls {
  flex: 0.37;
  height: 56%;
  padding: 5px;
}

.vfy-d-pad {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 48%;
}

.vfy-d-pad:before {
  content: '';
  position: absolute;
  border-radius: 5%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 66.6%;
  height: 66.6%;
  background: #ddd;
}

.vfy-d-pad:after {
  content: '';
  position: absolute;
  display: none;
  z-index:2;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  background: #ddd;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all .25s;
  cursor: pointer;
}
.vfy-d-pad:hover:after {
  width: 30%;
  height: 30%;
}

.vfy-d-pad a {
  display:block;
  position: absolute;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  width: 33.3%;
  height: 43%;
  line-height: 40%;
  color: #fff;
  background: #ddd;
  text-align: center;
}

.vfy-d-pad a:hover {
  background: #eee;
}

.vfy-d-pad a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 5px;
  border-style: solid;
  transition: all .25s;
}

.vfy-d-pad a:after {
  content: '';
  position: absolute;
  width: 102%;
  height: 78%;
  background: #c2c2c2;
  border-radius: 20%;
}

.vfy-d-pad a.vfy-left, .vfy-d-pad a.vfy-right {
  width: 43%;
  height: 33%;
}

.vfy-d-pad a.vfy-left:after, .vfy-d-pad a.vfy-right:after {
  width: 78%;
  height: 102%;
}

/* D-Pad Up */
.vfy-d-pad a.vfy-up {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 17% 17% 50% 50%;
}

.vfy-d-pad a.vfy-up:hover {
  background: linear-gradient(0deg, #ddd 0%, #eee 50%);
}

.vfy-d-pad a.vfy-up:after {
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
  border-top-left-radius: 50%;
  pointer-events: none;
}

.vfy-d-pad a.vfy-up:before {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 0 12px 18px 12px;
  border-color: transparent transparent #aaa transparent;
}

.vfy-d-pad a.vfy-up:active:before {
  border-bottom-color: #333;
}

.vfy-d-pad a.vfy-up:hover:before {
  top: 35%;
}

/* D-Pad Down */
.vfy-d-pad a.vfy-down {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50% 50% 17% 17%;
}

.vfy-d-pad a.vfy-down:hover {
  background: linear-gradient(180deg, #ddd 0%, #eee 50%);
}

.vfy-d-pad a.vfy-down:after {
  right: 0;
  bottom: 0;
  transform: translate(100%, 0);
  border-bottom-right-radius: 50%;
  pointer-events: none;
}

.vfy-d-pad a.vfy-down:before {
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-width: 18px 12px 0px 12px;
  border-color: #aaa transparent transparent transparent;
}

.vfy-d-pad a.vfy-down:active:before {
  border-top-color: #333;
}

.vfy-d-pad a.vfy-down:hover:before {
  bottom: 35%;
}

/* D-Pad Left */
.vfy-d-pad a.vfy-left {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border-radius: 17% 50% 50% 17%;
}

.vfy-d-pad a.vfy-left:hover {
  background: linear-gradient(-90deg, #ddd 0%, #eee 50%);
}

.vfy-d-pad a.vfy-left:after {
  left: 0;
  bottom: 0;
  transform: translate(0, 100%);
  border-bottom-left-radius: 50%;
  pointer-events: none;
}

.vfy-d-pad a.vfy-left:before {
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-width: 12px 18px 12px 0;
  border-color: transparent #aaa transparent transparent;
}

.vfy-d-pad a.vfy-left:active:before {
  border-right-color: #333;
}

.vfy-d-pad a.vfy-left:hover:before {
  left: 35%;
}

/* D-Pad Right */
.vfy-d-pad a.vfy-right {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  border-radius: 50% 17% 17% 50%;
}

.vfy-d-pad a.vfy-right:hover {
  background: linear-gradient(90deg, #ddd 0%, #eee 50%);
}

.vfy-d-pad a.vfy-right:after {
  right: 0;
  top: 0;
  transform: translate(0, -100%);
  border-top-right-radius: 50%;
  pointer-events: none;
}

.vfy-d-pad a.vfy-right:before {
  right: 40%;
  top: 50%;
  transform: translate(50%, -50%);
  border-width: 12px 0 12px 18px;
  border-color: transparent transparent transparent #aaa;
}

.vfy-d-pad a.vfy-right:active:before {
  border-left-color: #333;
}

.vfy-d-pad a.vfy-right:hover:before {
  right: 35%;
}


/* Tile Paths */
.vfy-path {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.vfy-char {
  width: 65%;
  height: 62%;
  position: relative;
  background-image: url('../assets/idle.gif');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 0;
}

.vfy-char-run {
  background-image: url('../assets/run.gif');
  transition: left 1s, top 1s;
  -webkit-transition: left 1s, top 1s;
  -moz-transition: left 1s, top 1s;
  -ms-transition: left 1s, top 1s;
  -o-transition: left 1s, top 1s;
}

.vfy-leftvfy-right, .vfy-right {
  background-image: url('../assets/left-right.png');
}

.vfy-leftvfy-up {
  background-image: url('../assets/left-up.png');
}

.vfy-leftvfy-down {
  background-image: url('../assets/left-down.png');
}

.vfy-upvfy-right {
  background-image: url('../assets/up-right.png');
}

.vfy-upvfy-down, .vfy-downvfy-up {
  background-image: url('../assets/up-down.png');
}

.vfy-downvfy-right {
  background-image: url('../assets/down-right.png');
}

.vfy-up {
  background-image: url('../assets/up.png');
}

.vfy-left {
  background-image: url('../assets/left.png');
}

.vfy-down {
  background-image: url('../assets/down.png');
}

.vfy-bg {
  background-image: url('../assets/bg.png');
}

.vfy-large-rock {
  background-image: url('../assets/large-rock.png');
}

.vfy-weeds-one {
  background-image: url('../assets/weeds-one.png');
}

.vfy-weeds-two {
  background-image: url('../assets/weeds-two.png');
}

.vfy-weeds-three {
  background-image: url('../assets/weeds-three.png');
}

.vfy-weeds-four {
  background-image: url('../assets/weeds-four.png');
}

/* Results check or cross */
.vfy-result-label {
  margin: 0 auto;
}

.vfy-result-label-icon-check, .vfy-result-label-icon-times {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vfy-result-label-text .vfy-result-label-icon-check {
  animation: check .3s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
}

.vfy-result-label-text .vfy-result-label-icon-times {
  animation: times .3s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
}

.vfy-result-label-text .icon {
  opacity: 1;
  transform: scale(0);
  color: white;
  -webkit-text-stroke: 0;
  animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes check {
  from {
    width: 7em;
    height: 7em;
    border-width: 5px;
  }
  to {
    width: 9em;
    height: 9em;
    border: 0;
    background: #00d478;
    opacity: 1;
  }
}

@keyframes times {
  from {
    width: 7em;
    height: 7em;
    border-width: 5px;
  }
  to {
    width: 9em;
    height: 9em;
    border: 0;
    background: #E15554;
    opacity: 1;
  }
}